
body {
    font-family:Garamont,Helvetica,Arial;
    color:#444444;
    margin-left:8em;
    margin-right:8em;
}

/*Creating two columns*/
.column_left {
    float:left;
    width:30%;
    /*padding-left:8.5em;*/
}
.column_right {
    float:right;
    width:65%;
    /*padding-right:8.5em;*/
    margin-left:2.5em;
}

/*Formatting text*/
.title {
    text-align:center;
    margin:.1em;
}
.sub {
    margin-bottom:.5em;
    font-size:.75em;
}

/*Formatting existing tags*/
p {
    font-size:.75em;
    margin:0px;
}
li {
    font-size:.75em;
}
ul {
    margin-top:0px;
    padding-left:1.5em;
}
a {
    color:#0B4BA7;
    text-decoration:none;
}
a:hover {
    background-color:#7BA9EA;
    color:black;
}
img {
    width:15px;
    height:15px;
}
h1 {
    font-size:2.5em;
}
h2 {
    font-size:2em;
    margin-bottom:.3em;
    font-weight:normal;
}
h3 {
    margin:0px;
}
h4 {
    margin:0px;
    font-weight:normal;
}
